<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character[4] }} - Character Sheet</title>
</head>
<body>

    <!-- Character Basic Info -->
    <h1>{{ character[4] }}</h1>
    <div>
        <p><strong>Player Name:</strong> {{ character[5] }}</p>
        <p><strong>Background:</strong> {{ character[2] }}</p>
        <p><strong>Race: </strong> {{ race[1] }}</p>
        {% for c in classes %}
            <p><strong>Class: </strong> {{ c[1] }} -- {{ c[7] }}</p>
        {% endfor %}
    </div>
    

    <!-- Stats -->
    <h2>Stats</h2>
    <div>
        <p><strong>Inspiration:</strong> <input type="number" placeholder="{{ stats[2] }}" min="0"></p>
        <p><strong>Initiative:</strong> <input type="text" value="0"></p>
        <p><strong>Armor Class:</strong> <input type="number" value="0"></p>
        {% set total_hp = classes | sum(attribute=6) %}
        <p><strong>Max HP:</strong> {{ total_hp }}</p>
        <p><strong>Current HP:</strong> <input type="number" placeholder="{{ stats[3] }}" min="0"></p>
        <p><strong>Temp HP:</strong> <input type="number" placeholder="{{ stats[4] }}" min="0"></p>
        <p><strong>EXP:</strong> <input type="number" placeholder="{{ stats[5] }}" min="0"></p>
        <p><strong>Speed:</strong> <input type="number" placeholder="{{race[2]}}" min="0"></p>
        <p><strong>Death Saves:</strong> 
            Success <input type="checkbox" {% if stats[6] >= 1 %}checked{% endif %}>
            <input type="checkbox" {% if stats[6] >= 2 %}checked{% endif %}>
            <input type="checkbox" {% if stats[6] == 3 %}checked{% endif %}>
            Failure <input type="checkbox" {% if stats[7] >= 1 %}checked{% endif %}>
            <input type="checkbox" {% if stats[7] >= 2 %}checked{% endif %}>
            <input type="checkbox" {% if stats[7] == 3 %}checked{% endif %}>
        </p>
    </div>

    <!-- Abilities -->
    <h2>Abilities</h2>
    <div>
        <ul>
            {% for ability in abilities %}
                <li>
                    {{ ability[1] }}: <input type="number" placeholder="{{ ability[2] }}"><br>
                    Modifier: {{ (ability[2] - 10) // 2 }} 
                </li>

            {% endfor %}
        </ul>
    </div>

    <!-- Saving Throws -->
    <h2>Saving Throws</h2>
    <div>
        <ul>
            {% for st in savingthrows %}
                <li>{{ st[1] }}: <input type="number" placeholder="{{st[3]}}"> <input type="checkbox" {% if st[2] == 1 %}checked{% endif %}></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Skills -->
    <h2>Skills</h2>
    <div>
        <ul>
            {% for s in skills %}
                <li>
                    {{ s[1] }}: <input type="number" placeholder="{{ s[2] }}">  <input type="checkbox" {% if s[3] == 1 %}checked{% endif %}> 
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Class -->
    <h2>Classes</h2>
    <div>
        <ul>
            {% for c in classes %}
                <li>
                    <strong>{{ c[1] }}</strong> (Level: <input type="number" value="{{ c[7] }}" min="0" max="20">)<br>
                    Max HP: <input type='number' value="{{ c[6] }}" min="0"><br>
                    Proficiency Bonus: +<input type="number" value="{{ c[2] }}" min="0"><br>
                    Hit Dice: <input type="number" value="{{ c[4] }}" min="0"> / <input type="number" value="{{ c[3] }}" min="0">d
                    <select>
                        {% for size in [6,8,10,12] %}
                            <option value="{{ size }}" {% if size == c[6] %}selected{% endif %}>{{ size }}</option>
                        {% endfor %}
                    </select><br>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Feats -->
    <h2>Feats</h2>
    <div>
        <ul>
            {% for f in feats %}
                <li>
                    <strong><input type="text" value="{{ f[1] }}"></strong>: <input type="text" value="{{ f[2] }}">
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Features -->
    <h2>Features</h2>
    <div>
        <ul>
            {% for f in features %}
                <li>
                    <strong><input type="text" value="{{ f[1] }}"></strong>: <input type="text" value="{{ f[2] }}">
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Effects -->
    <h2>Effects</h2>
    <div>
        <ul>
            {% for e in effects %}
                <li>
                    <strong><input type="text" value="{{ e[1] }}"></strong>: <input type="text" value="{{ e[2] }}"><br> 
                    Duration: (<input type="text" value="{{ e[3] }}">)
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Lore -->
    <h2>Lore</h2>
    <div>
        <p><strong>Skin:</strong><input type='text' value='{{ lore[2] }}'></p>
        <p><strong>Eyes:</strong><input type='text' value='{{ lore[3] }}'></p>
        <p><strong>Hair:</strong><input type="text" value="{{ lore[14] }}"></p>
        <p><strong>Alignment:</strong><input type="text" value="{{ lore[15] }}"></p>
        <p><strong>Ideals:</strong><input type='text' value='{{ lore[4] }}'></p>
        <p><strong>Bonds:</strong><input type='text' value='{{ lore[5] }}'></p>
        <p><strong>Flaws:</strong><input type='text' value='{{ lore[6] }}'></p>
        <p><strong>Age:</strong><input type='text' value='{{ lore[7] }}'></p>
        <p><strong>Personality Traits:</strong><input type='text' value='{{ lore[8] }}'></p>
        <p><strong>Weight:</strong><input type='text' value='{{ lore[9] }}'></p>
        <p><strong>Height:</strong><input type='text' value='{{ lore[10] }}'></p>
        <p><strong>Allies:</strong><input type='text' value='{{ lore[11] }}'></p>
        <p><strong>Appearance:</strong><input type='text' value='{{ lore[12] }}'></p>
        <p><strong>Backstory:</strong><input type='text' value='{{ lore[13] }}'></p>
    </div>

    <!-- Items -->
    <h2>Inventory</h2>
    <div>
        <!-- Containers -->
        <h3>Water Containers</h3>
        <ul>
            {% for w in containers %}
                <li><strong>{{w[3]}}:</strong> <input type="number" value="{{ w[2] }}"> oz filled<br>
                    <strong>Description:</strong> {{ w[4] }}
                </li>
            {% endfor %}
        </ul>

        <!-- Siege Equipment -->
        <h3>Siege Equipment</h3>
        <ul>
            {% for se in siegeequipments %}
                <li>
                    {{ se[5] }}
                    AC: <input type="number" value="{{ se[2] }}"><br>
                    HP: <input type="number" value="{{ se[4] }}"><br>
                    Immunities: <input type="text" value="{{ se[3] }}"><br>
                    <strong>Description: </strong> {{ se[6] }}
                </li>
            {% endfor %}
        </ul>

        <!-- Poisons -->
        <h3>Poisons</h3>
        <ul>
            {% for p in poisons %}
                <li>
                    {{ p[4] }}
                    Type: <input type="text" value="{{ p[2] }}"><br>
                    Cost: <input type="text" value="{{ p[3] }}"><br>
                    <strong>Description:</strong> {{ p[5] }}
                </li>
            {% endfor %}
        </ul>

        <!-- Adventuring Gear -->
        <h3>Adventuring Gear</h3>
        <ul>
            {% for g in adventuringgears %}
                <li>
                    {{ g[4] }}
                    Cost: <input type="text" value="{{ g[2] }}"><br> 
                    Weight: <input type="number" value="{{ g[3] }}" min="0"><br>
                    <strong>Description:</strong> {{ g[5] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Weapons</h3>
        <ul>
            {% for w in weapons %}
                <li>
                    {{ w[5] }}
                    Damage: <input type="text" value="{{ w[4] }}"><br>
                    Cost: <input type="text" value="{{ w[3] }}"><br>
                    Weight: <input type="number" value="{{ w[2] }}" min="0"><br>
                    <strong>Description:</strong> {{ w[6] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Armor & Shields</h3>
        <ul>
            {% for a in armorshields %}
                <li>
                    {{ a[6] }}
                    AC: <input type="number" value="{{ a[5] }}"><br>
                    Cost: <input type="text" value="{{ a[4] }}"><br>
                    Weight: <input type="number" value="{{ a[3] }}" min="0"><br>
                    Equipped: <input type="checkbox" {% if a[2] == 1 %}checked{% endif %}><br>
                    <strong>Description:</strong> {{ a[7] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Explosives</h3>
        <ul>
            {% for ex in explosives %}
                <li>
                    {{ ex[4] }}
                    Cost: <input type="text" value="{{ ex[2] }}"><br>
                    Weight: <input type="number" value="{{ ex[3] }}" min="0"><br>
                    <strong>Description:</strong> {{ ex[5] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Tools</h3>
        <ul>
            {% for t in tools %}
                <li>
                    {{ t[4] }}
                    Cost: <input type="text" value="{{ t[2] }}"><br>
                    Weight: <input type="number" value="{{ t[3] }}" min="0"><br>
                    <strong>Description:</strong> {{ t[5] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Trinkets</h3>
        <ul>
            {% for tr in trinkets %}
                <li>
                    {{ tr[2] }}
                    <strong>Description:</strong> {{ tr[3] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Firearms</h3>
        <ul>
            {% for f in firearms %}
                <li>
                    {{ f[5] }}
                    Damage: <input type="text" value="{{ f[3] }}"><br>
                    Cost: <input type="text" value="{{ f[2] }}"><br>
                    Weight: <input type="number" value="{{ f[4] }}" min="0"><br>
                    <strong>Description:</strong> {{ f[6] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Other Items</h3>
        <ul>
            {% for o in others %}
                <li>
                    {{ o[4] }}
                    Cost: <input type="text" value="{{ o[2] }}"><br>
                    Weight: <input type="number" value="{{ o[3] }}" min="0"><br>
                    <strong>Description:</strong> {{ o[5] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Wondrous Items</h3>
        <ul>
            {% for w in wondrous %}
                <li>
                    {{ w[2] }}
                    <strong>Description:</strong> {{ w[3] }}
                </li>
            {% endfor %}
        </ul>

        <h3>Rations</h3>
        <ul>
            {% for r in rations %}
                <li>
                    {{ r[3] }}
                    Quantity: <input type="number" value="{{ r[2] }}" min="0"><br>
                    <strong>Description:</strong> {{ r[4] }}
                </li>
            {% endfor %}
        </ul>

        <p><strong>Currency:</strong></p>
        <ul>
            <li>Platinum: {{ character[10] }}</li>
            <li>Gold: {{ character[7] }}</li>
            <li>Electrum: {{ character[6] }}</li>
            <li>Silver: {{ character[8] }}</li>
            <li>Copper: {{ character[9] }}</li>
        </ul>
    </div>

    <!-- Spellcasting -->
    <h2>Spellcasting</h2>
    <div>
        <h3>Spellcasting Classes</h3>
        <ul>
            {% for c in classes %}
                {% if c[8] == 1 %}
                    <li>
                        {{ c[1] }}
                        Spellcasting Modifier: <input type="number" value="{{ c[28] }}"><br>
                        Spellcasting Ability: <select>
                            <option value="Str" {% if c[27] == 'Str' %}selected{% endif %}>Str</option>
                            <option value="Dex" {% if c[27] == 'Dex' %}selected{% endif %}>Dex</option>
                            <option value="Con" {% if c[27] == 'Con' %}selected{% endif %}>Con</option>
                            <option value="Int" {% if c[27] == 'Int' %}selected{% endif %}>Int</option>
                            <option value="Wis" {% if c[27] == 'Wis' %}selected{% endif %}>Wis</option>
                            <option value="Cha" {% if c[27] == 'Cha' %}selected{% endif %}>Cha</option>
                        </select><br>
                        Spellsave DC: <input type="number" value="8 + {{ c[2] }} + {{ c[28] }}"><br>
                        Spell Attack Bonus: <input type="number" value="{{ c[2] }} + {{ c[28] }}"><br>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h3>Cantrips</h3>
        {% for spell in spells %}
            {% if spell[4] == 0 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 1 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[17] }}" min="0">/<input type="number" value="{{ stats[8] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 1 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 2 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[18] }}" min="0">/<input type="number" value="{{ stats[9] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 2 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 3 Spells</h3>
                Spell Slots: <input type="number" value="{{ stats[19] }}" min="0">/<input type="number" value="{{ stats[10] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 3 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 4 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[20] }}" min="0">/<input type="number" value="{{ stats[11] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 4 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 5 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[21] }}" min="0">/<input type="number" value="{{ stats[12] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 5 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 6 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[22] }}" min="0">/<input type="number" value="{{ stats[13] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 6 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 7 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[23] }}" min="0">/<input type="number" value="{{ stats[14] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 7 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 8 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[24] }}" min="0">/<input type="number" value="{{ stats[15] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 8 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
        <hr>
        <h3>Level 9 Spells</h3>
        Spell Slots: <input type="number" value="{{ stats[25] }}" min="0">/<input type="number" value="{{ stats[16] }}" min="0"><br>
        {% for spell in spells %}
            {% if spell[4] == 9 %}
                {{ spell[7] }}
                Duration: <input type="text" value="{{ spell[2] }}"><br>
                Components: <input type="text" value="{{ spell[3] }}"><br>
                Range: <input type="text" value="{{ spell[5] }}"><br>
                Casting Time: <input type="text" value="{{ spell[6] }}"><br>
                Ready: <input type="checkbox" {% if spell[7] == 1 %}checked{% endif %}><br>
                <strong>Description:</strong> {{ spell[8] }}<br>
            {% endif %}
        {% endfor %}
    </div>

</body>
</html>
