<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"
</head>
<body>
    

    <div class="index-card">
        <h1> DnD Character Manager Databases Project!!! </h1>

        <button id="indexLoginButton" name="login_button">Login</button>

        <h2> About this project </h2>

        <p> 
            My name is Evan Richard, currently a junior computer science student interested in cybersecurity. The main purpose of this project
            is to get better at web development in both front and back end as well as improve my pentesting skills. For this project I utilized
            Flask for managing my backend with SQLite as my DBMS. Obviusly the frontend is written in HTML, JS, and CSS with Flask just handling
            the server they run on to make it easier for management purposes. 
        </p>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>